**/node_modules
**/.tmp
/mocks/*/public
/mocks/*/build
/mocks/admin-api-client-data-provider-e2e-vanilla-app/public/js
/packages/*/dist
/packages/*/dist-tsc
/packages/*/coverage
/test/*/dist
/test/core-e2e/src/fixtures
/packages/core/test/functional/fixtures
/test/main-e2e/src/fixtures
