|<h3>Affected projects</h3>
{{#if affected.length}}
<ul><li>{{#each affected}}{{#if @index}}, {{/if}}\`{{{this}}}\`{{/each}}</li></ul>
__Total: {{affected.length}} affected projects__ 
{{else}}
No affected projects found
{{/if}}
