|<h3>Affected projects</h3><br/><br/>
{{#if affected.length}}
  - {{#each affected}}{{#if @index}}, {{/if}}`{{{this}}}`{{/each}}<br/><br/>
**Total: {{affected.length}} affected projects.** 
{{else}}
No affected projects found
{{/if}}
