|<h3>Affected projects</h3>
{{#if affected.length}}
<ul><li>Applications: {{#each affected}}{{#if @index}}, {{/if}}<code>{{{this}}}</code>{{/each}}</li></ul>
<strong>Total: {{affected.length}} affected projects</strong> 
{{else}}
<strong>No affected projects found</strong>
{{/if}}
